{
  "orderMade": {
    "baseUrl": "https://ordermade.sakura.ne.jp/kanri",
    "loginUrl": "https://ordermade.sakura.ne.jp/kanri/login",
    "username": "SET_LOCALLY",
    "password": "SET_LOCALLY"
  }
}

