{
  "tsLeague": {
    "loginUrl": "https://ts-league.com/team/order-made/login.php",
    "gameListUrl": "https://ts-league.com/team/order-made/game.php",
    "username": "SET_LOCALLY",
    "password": "SET_LOCALLY"
  }
}

